<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list id="list">
    <ion-item *ngFor="let feed of feeds">
      <div [ngSwitch]="feed?.name">
        <feed-liked-you *ngSwitchCase="'likedYou'" [feed]="feed"></feed-liked-you>
        <feed-viewed-you *ngSwitchCase="'viewedYou'" [feed]="feed"></feed-viewed-you>
        <feed-new-message *ngSwitchCase="'newMessage'" [feed]="feed"></feed-new-message>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" id="infinite-scroll" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>