<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/search"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-title>foo_user</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list id="list">
    <ion-item *ngFor="let message of messages; index as i" [color]="i % 2 == 0 ? 'primary': 'light'" 
    [ngClass]="{'sent': i % 2 == 0, 'received': i % 2 == 1}" text-wrap>
      <ion-label style="white-space: normal;">
        <h3>foo test</h3>
        <p>
        {{message.text}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" id="infinite-scroll">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-textarea placeholder="Say something..."></ion-textarea>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>