<div class="row">
  <div class="col-xs-12">
    <form novalidate name="searchForm" class="form" ng-submit="searchForm.$valid && search()">
      <div class="row">
        <div class="form-group col-md-2 col-xs-4" ng-class="{'has-error': searchForm.distance.$invalid}">
          <label for="distance" translate>distance</label>
          <select name="distance" ng-model="query.distance" ng-options="d for d in [50,75,100]" class="form-control" required>
          </select>
        </div>
        <div class="form-group col-md-2 col-xs-4" ng-class="{'has-error': searchForm.dobFrom.$invalid}">
          <label for="dobFrom" translate>age</label>
          <select name="dobFrom" ng-model="query.dobFrom" ng-options="d for d in agesFrom" class="form-control" required>
          </select>
        </div>
        <div class="form-group col-md-2 col-xs-4" ng-class="{'has-error': searchForm.dobTo.$invalid}">
          <label for="dobTo" translate>to</label>
          <select name="dobTo" ng-model="query.dobTo" ng-options="d for d in agesTo" class="form-control" required>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row" ng-if="!profiles || profiles.length === 0">
  <div class="col-xs-12">
    <div class="alert alert-info" role="alert">
      <p translate>noProfiles</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-xs-12 col-md-offset-2">
    <div class="form-group stack-container">
      <ul class="stack list-unstyled" swing-stack swing-options="swingOptions">
          <li swing-card ng-repeat="profile in profiles"
              swing-on-throwout="remove($index, profile, eventObject)"
              ng-style="{'background-image': 'url(' + profile.photo.filename + ')'}">
          </li>
      </ul>
    </div>
  </div>
</div>
