<div class="row form-group" ng-show="!editSearch">
  <div class="col-xs-12">
    <div class="pull-right">
      <button class="btn btn-default" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
      <button class="btn btn-primary" ng-click="editSearch = !editSearch"><i class="fa fa-pencil"></i></button>
    </div>
    <h6>
      Age {{query.dobFrom}} to {{query.dobTo}}, {{query.distance}} km
    </h6>
  </div>
</div>
<div class="row" ng-show="editSearch">
  <div class="col-xs-12">
    <form novalidate name="searchForm" class="form" ng-submit="searchForm.$valid && search()">
      <div class="row">
        <div class="form-group col-md-2 col-xs-4" ng-class="{'has-error': searchForm.distance.$invalid}">
          <label for="distance" translate>distance</label>
          <select name="distance" ng-model="query.distance" ng-options="d for d in [50,75,100]" class="form-control" required>
          </select>
        </div>
        <div class="form-group col-md-2 col-xs-4" ng-class="{'has-error': searchForm.dobFrom.$invalid}">
          <label for="dobFrom" translate>age</label>
          <select name="dobFrom" ng-model="query.dobFrom" ng-options="d for d in agesFrom" class="form-control" required ng-change="query.dobTo = query.dobFrom > query.dobTo ? query.dobFrom : query.dobTo">
          </select>
        </div>
        <div class="form-group col-md-2 col-xs-4" ng-class="{'has-error': searchForm.dobTo.$invalid}">
          <label for="dobTo" translate>to</label>
          <select name="dobTo" ng-model="query.dobTo" ng-options="d for d in agesTo" class="form-control" required ng-change="query.dobFrom = query.dobFrom > query.dobTo ? query.dobTo : query.dobFrom">
          </select>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="form-group col-md-2">
          <button class="btn btn-primary" type="submit" translate>save</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row" ng-if="!profiles || profiles.length === 0">
  <div class="col-xs-12">
    <div class="alert alert-info" role="alert">
      <p translate>noProfiles</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-xs-12 col-md-offset-2">
    <div class="form-group stack-container">
      <ul class="stack list-unstyled" swing-stack swing-options="swingOptions">
          <li swing-card ng-repeat="profile in profiles"
              swing-on-throwout="remove($index, profile, eventObject)"
              ng-style="{'background-image': 'url(/api/assets/' + profile.id + '.jpg)', 'background-size': 'cover', 'background-position':'center center', 'background-repeat': 'no-repeat'}">
          </li>
      </ul>
    </div>
  </div>
</div>
