<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-info" role="alert" ng-if="!messages || messages.length === 0">
      <p translate>noMessages</p>
    </div>
    <div class="media" ng-repeat="msg in messages">
      <div class="media-left">
        <a ng-href="#!/chat/{{msg.fro}}"><img class="media-object" ng-src="/assets/{{msg.fro}}.jpg"></a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <a ng-href="#!/chat/{{msg.fro}}">{{msg.data.username}}</a>
        </h4>
        <span>{{msg.sent}}</span>
      </div>
    </div>
  </div>
</div>

