<div class="row">
  <div class="col-xs-12">
    <form name="profileForm" ng-submit="profileForm.$valid && saveProfile(profileForm)" novalidate>
      <fieldset>
        <legend translate>personalInfo</legend>
        <div ng-show="!profile.id" class="form-group" ng-class="{'has-error': profileForm.username.$invalid}">
          <label for="username" translate>username</label>
          <input id="username" name="username" ng-model="profile.username" class="form-control" type="text" required>
        </div>
        <div ng-show="!profile.id" class="form-group" ng-class="{'has-error': profileForm.gender.$invalid}">
          <label for="gender" translate>gender</label>
          <select name="gender" ng-model="profile.gender" ng-options="d.value as d.label | translate for d in genders" class="form-control" required></select>
        </div>
        <div ng-show="!profile.id" class="form-group">
          <label for="dob" translate>dob</label>
          <div class="form-inline">
            <div class="form-group col-md-4 col-xs-4" ng-class="{'has-error': profileForm.year.$invalid}">
              <select name="year" ng-model="year" ng-options="d for d in dobYears" class="form-control" required></select>
            </div>
            <div class="form-group col-md-4 col-xs-4" ng-class="{'has-error': profileForm.month.$invalid}">
              <select name="month" ng-model="month" ng-options="d for d in dobMonths" class="form-control" required></select>
            </div>
            <div class="form-group col-md-4 col-xs-4" ng-class="{'has-error': profileForm.day.$invalid}">
              <select name="day" ng-model="day" ng-options="d for d in dobDays" class="form-control" required></select>
            </div>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': profileForm.city.$invalid}">
          <label for="city" translate>city</label>
          <input name="city" type="text" class="form-control" id="city" placeholder="city" uib-typeahead="city as city.name for city in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-editable="false" typeahead-input-formatter="$model.name" typeahead-on-select="onSelectedLocation($item)" ng-model="selectedLocation" autocomplete="off" required>
          <i ng-show="loadingLocations" class="fa fa-refresh"></i>
        </div>
      </fieldset>
      <fieldset>
        <legend translate>about</legend>
        <div class="form-group" ng-class="{'has-error': profileForm.headline.$invalid}">
          <label for="headline" translate>headline</label>
          <input id="headline" name="headline" ng-model="profile.headline" class="form-control" type="text" required>
        </div>
        <div class="form-group" ng-class="{'has-error': profileForm.about.$invalid}">
          <label for="about" translate>about</label>
          <textarea id="about" name="about" ng-model="profile.about" class="form-control" required></textarea>
        </div>
        <div class="form-group">
          <label for="interests" translate>interests</label>
          <ui-select theme="bootstrap" ng-model="profile.data.interests" multiple tagging tagging-label="(new)">
            <ui-select-match>{{$item}}</ui-select-match>
            <ui-select-choices repeat="entry in interests | filter:$select.search" refresh="getInterests($select.search)" refresh-delay="0">{{entry}}</ui-select-choices>
          </ui-select>
        </div>
      </fieldset>
      <fieldset class="form-horizontal">
        <legend translate>otherInfo</legend>
        <div class="form-group">
          <div class="col-xs-12 col-sm-6 form-group" ng-repeat="(name, values) in dataOptions">
            <label class="col-sm-2 control-label">{{name | translate}}</label>
            <div class="col-sm-10">
              <select ng-model="profile.data.about[name]" ng-options="d as d | translate for d in values" class="form-control"></select>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend translate>photos</legend>
        <div class="row">
          <div class="col-md-4" ng-repeat="photo in profile.data.photos">
            <div class="thumbnail">
              <img ng-src="/assets/{{photo.filename}}">
              <div class="caption">
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="photo.isMain" ng-change="onMainChanged(photo)" ng-value="true"><span translate>main</span>
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="photo.isPrivate" ng-change="onPrivateChanged(photo)" ng-disabled="photo.isMain"><span translate>private</span>
                  </label>
                </div>
                <p><a class="btn btn-default" href translate ng-click="deletePhoto($index)" role="button">delete</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="profile.data.photos.length < 5" ng-class="{'has-error': profileForm.picFile.$invalid}">
          <label for="picFile" translate>uploadPhoto</label>
          <input id="picFile" type="file" name="picFile" ng-required="profile.data.photos.length === 0"
                                                         class="form-control"
                                                         ng-model="file"
                                                         ngf-select="upload($file)"
                                                         ngf-patter=".jpg"
                                                         ngf-resize="{width: 800, height: 500, quality: 0.8, type: 'image/jpeg', centerCrop: true, pattern: '.jpg', restoreExif: false}">
        </div>
      </fieldset>
      <div ng-if="!profile.id" class="checkbox"  ng-class="{'has-error': profileForm.termsAndConditions.$invalid}">
        <label>
          <input name="termsAndConditions" class="from-control" type="checkbox" required ng-model="profile.termsAndConditions" >
          <span ng-bind-html="'termsAndConditions' | translate"></span>
        </label>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" translate>save</button>
        <button ng-show="profile.id" class="btn btn-default" ng-click="cancelEdit()" translate>cancel</button>
      </div>
    </form>
  </div>
</div>

