<form name="settingsForm" ng-submit="save()">
  <div class="form-group">
    <label for="username" translate>username</label>
    <input name="username" class="form-control" type="text" ng-model="profile.username" required>
  </div>
  <div class="form-group">
    <label for="preferredLang" translate>preferredLang</label>
    <select name="preferredLang" ng-model="profile.data.preferences.preferredLang" ng-options="d.value as d.label | translate for d in availableLang" class="form-control" required></select>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" translate>save</button>
  </div>
  <div class="form-group">
    <a href ng-click="toggleDelete()" translate>deletePrompt</a>
  </div>
  <div class="form-group" ng-if="showDeleteAccount">
    <button class="btn btn-danger" translate ng-click="deleteAccount()">deleteAccount</button>
  </div>
</form>
