<form>
  <div class="form-group">
    <label for="username" translate>username</label>
    <input name="username" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="email" translate>email</label>
    <input name="email" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="password" translate>password</label>
    <input name="password" class="form-control" type="password">
  </div>
  <div class="form-group">
    <label for="repassword" translate>repassword</label>
    <input name="repassword" class="form-control" type="password">
  </div>
</form>
