<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="chatr">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css" />
    <link rel="stylesheet" href="bower_components/ng-embed/src/ng-embed.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="webappApp">
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId: '621936294681039',
          xfbml: true,
          version: 'v2.8'
        });

        FB.AppEvents.logPageView();

      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = '//connect.facebook.net/en_US/sdk.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div ng-controller="BaseCtrl">
      <!-- Add your site or application content here -->
      <div class="header">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand hidden-xs" href="#!/">chatr</a>
                <span uib-dropdown class="navbar-brand pull-right" ng-if="showNav">
                  <a href uib-dropdown-toggle class="navbar-link">
                    <img ng-style="{'background-image': 'url(/assets/' + profile.id + '_s.jpg)', 'background-size': 'cover', 'background-position':'center center', 'background-repeat': 'no-repeat', 'width': '32px', height: '32px'}" class="img-circle">
                  </a>
                  <ul class="dropdown-menu" uib-dropdown-menu>
                    <li><a ng-href="#!/profiles/me"><i class="fa fa-user"></i> <span translate>profile</a></li>
                    <li><a href="/api/_logout"><i class="fa fa-sign-out"></i> <span translate>logout</span></a></li>
                  </ul>
                </span>
                <ul class="nav navbar-nav navbar-collapse pull-right" ng-if="showNav">
                  <li><a ng-href="#!/visitors"><i class="fa fa-eye"></i> <span class="hidden-xs" translate>visitors</span> <span ng-if="feed.visit" class="badge">{{feed.visit}}</span></a></li>
                  <li><a ng-href="#!/inbox"><i class="fa fa-inbox"></i> <span class="hidden-xs" translate>inbox</span> <span ng-if="feed.msg" class="badge">{{feed.msg}}</span></a></li>
                  <li><a href="#!/search"><i class="fa fa-search"></i> <span class="hidden-xs" translate>search</a></li>
                  <li><a href="#!/browse"><i class="fa fa-heart"></i> <span class="hidden-xs" translate>browse</a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div ui-view autoscroll="false"></div>
      </div>
      <div class="footer">
      </div>
    </div>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
    <script src="bower_components/socket.io-client/dist/socket.io.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-inview/angular-inview.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-swing/dist/angular-swing.min.js"></script>
    <script src="bower_components/ng-embed/src/ng-embed.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
  </body>
</html>
