<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/search"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-title>{{id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img [src]="'media/' + profile.id + '.jpeg'"></ion-img>

  <ion-list-header>Interests</ion-list-header>
  <p>
    <ion-chip *ngFor="let entry of profile.interests" outline color="primary">
      <ion-label>{{entry}}</ion-label>
    </ion-chip>
  </p>
  <ion-text color="dark">
    <h5>{{profile.headline}}</h5>
  </ion-text>
  <p>
    {{profile.description}}
  </p>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-textarea placeholder="Say something..."></ion-textarea>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
