<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/search"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-title>foo-user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img [src]="item.src"></ion-img>

  <ion-list-header>Icons</ion-list-header>
  <p>
    <ion-chip outline color="primary">
      <ion-icon name="pin"></ion-icon>
      <ion-label>Madison</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <ion-chip outline color="secondary">
      <ion-icon name="wine"></ion-icon>
      <ion-label>Nightlife</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <ion-chip outline color="tertiary">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Dining</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
    <ion-chip outline color="dark">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>Entertainment</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
  </p>

  <ion-text color="dark">
    <h5>H5: The quick brown fox jumps over the lazy dog</h5>
  </ion-text>
  
  <p>
    I saw a werewolf with a Chinese menu in his hand.
    Walking through the <ion-text color="danger"><sub>streets</sub></ion-text> of Soho in the rain.
    He <ion-text color="primary"><i>was</i></ion-text> looking for a place called Lee Ho Fook's.
    Gonna get a <ion-text color="secondary"><a>big dish of beef chow mein.</a></ion-text>
    <ion-text color="danger"><ion-icon name="cut"></ion-icon></ion-text>
  </p>
</ion-content>
